<section>
    <h1 class="add_bounty_form">Add new bounty</h1>

    <form action="/addbounty" method="post">
        <input class="text-input" type="text" name="name" placeholder="Write bounty name">
        <input class="text-input" type="text" name="picture" placeholder="Put a pictute URL">
        <input class="text-input" type="text" name="crimes" placeholder="What crimes he did?">
        <input class="text-input" type="text" name="status" placeholder="status">
        <input class="text-input" type="text" name="furtherinfo" placeholder="further info">
        <input class="submit" type="submit" value="Add">
    </form>
</section>