<section>
    <div class="loginContainer">
        <div class="loginBlock">

            <div class="formBlock">
                <h1>Add new bounty</h1>

                <form action="/addbounty" method="post" class="add_bounty_form">
                    <input class="text-input" type="text" name="name" placeholder="Write bounty name">
                    <input class="text-input" type="text" name="picture" placeholder="Put a pictute URL">
                    <input class="text-input" type="text" name="crimes" placeholder="What crimes he did?">
                    <input class="text-input" type="number" name="bounty" placeholder="bounty?">
                    <input class="text-input" type="text" name="status" placeholder="status">
                    <input class="text-input" type="text" name="furtherinfo" placeholder="further info">
                    <input class="submit" type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
    {{#if error}}
    <div class="loginErr"><i class="fas fa-skull"></i><br>{{error}}</div>
    {{/if}}

</section>