<div class="errorContainer">

<div class="error">
<h1>{{statusCode}}</h1>
<div style="color:red">Error: {{errorMessage}}</div>

</div>


<div class="msg">What you doing round these here parts, cowboy? </div>
<img src="/img/cactus.jpg" style="width:300px;height:400px;" alt="cactus" >


<div class="homeLink"><a href="/" class="msg">Get Outta Here </a></div>





</div>





