<section class="main__container--limited-width">
    <div class="loginContainer">
        <div class="loginBlock">
    
            <div class="formBlock">

                <h1 class="loginTitle">LOGIN</h1>



                    <form class="loginForm" action="/authenticate" method="POST">
                        <input class="text-input" type="text" name="username" placeholder="Username">
                        <input class="text-input" type="password" name="password" placeholder="Password">
                        <input class="submit" type="submit" value="ENTER">
    </form>
                <div class="loginErr">{{error}} </div>
            </div>
        </div>
    </div>
</section>