<section>
    <h1 class="register_title">Register</h1>

    <form class="register_form" action="/addUser" method="POST">
        <input class="text-input" type="text" name="name" placeholder="Write name">
        <input class="text-input" type="text" name="username" placeholder="Username">
        <input class="text-input" type="password" name="password" placeholder="Password">
        <input class="text-input" type="password" name="confirmPassword" placeholder="Confirm password">
        <input class="submit" type="submit" value="Submit">
    </form>
    <div class="err-msg">{{error}}</div>
</section>