<section class="main__container--limited-width">
    <div class="loginContainer">
        <div class="loginBlock">
    
            <div class="formBlock">
    <h1 class="regTitle">REGISTER</h1>
    <form class="loginForm" action="/addUser" method="POST">
        <input class="text-input" type="text" name="name" placeholder="Name">
        <input class="text-input" type="text" name="username" placeholder="Username">
        <input class="text-input" type="password" name="password" placeholder="Password">
        <input class="text-input" type="password" name="confirmPassword" placeholder="Confirm password">
        <input class="submit" type="submit" value="JOIN US">
    </form>
{{#if error}}
    <div class="loginErr"><i class="fas fa-skull"></i><br>{{error}}</div>
    {{/if}}
               </div>
        </div>
    </div>
</section>