<section class="welcome_section">
    <h1 class="welcome_msg">
        Welcome to Bounty Hunter.
        This website is a dangerous game, take it seriously and follow the rules, or you become the next bounty.
        <br>
        <br>
        <a href="/login" style="color:crimson;" >Login</a> <br>
         to start your journy
    </h1>
</section>