<section class="welcome_page">
    <h1>
        Welcome to Bounty Hunter.
        This website is a dangerous game, take it seriously and follow the rules, or you become the next bounty.

        <a href="/login">Login</a> to start your journy
    </h1>
</section>